.footer {
    background: linear-gradient(180deg, #2B3452 0%, #2A3353 100%);
    height: 25rem;
    padding: 4rem;

    /* .footer__title */

    &__title {
        margin-bottom: 4rem;
    }

    /* .footer__wrapper */

    &__wrapper {
        justify-content: space-around;
        align-items: center;
    }

    /* .footer__link */

    &__link {
        outline: transparent;
        
        .icon {
            transition: all 0.3s;
            max-width: 6rem;
            height: 6rem;
            fill: #fff;
        }

        &:hover,
        &:focus-visible {
            .icon {
                fill: $gold;
            }
        }
    }
}