<section class="fantasy">
    <span class="cloud cloud-1 --svg__cloud-1"></span>
    <span class="cloud cloud-2 --svg__cloud-2"></span>
    <span class="cloud cloud-3 --svg__cloud-3"></span>
    <span class="cloud cloud-4 --svg__cloud-4"></span>
    <div class="container">
        <div class="fantasy__title title">Сочиняйте собственные сказки и развивайте фантазию.</div>
        <div class="fantasy__wrapper flex --just-space">
            <div class="fantasy__item">Story Heroes – это интеллектуальная развивающая мобильная игра для детей и их родителей, которая направлена на развитие воображения, фантазии ребёнка и совместное интересное времяпрепровождение в кругу семьи и друзей.</div>
            <div class="fantasy__item">Лучший способ привить детям любовь к чтению - это написать свою сказку на фоне ярких иллюстраций. Теперь детки могут не только читать, но и участвовать в сюжете, сочинив свою историю и развить фантазию, играя за любимого персонажа.</div>
            <div class="fantasy__item">Игровой формат отлично подойдет родителям, чьи дети на домашнем обучении, поможет развить логическое мышление и улучшить коммуникацию между родителями и детьми.</div>
            <div class="fantasy__item">Story Heroes будет полезна малышам при подготовке к детскому саду и школе, а для детей постарше поспособствует расширению кругозора.</div>
        </div>
    </div>
</section>