<section class="game">
    <div class="container">
        <div class="game__wrapper flex --just-space --align-center">
            <div class="game__phone">
                <img src="/img/phone.webp" alt="">
                <div class="game__video">
                    <iframe src="https://www.youtube.com/embed/lmnABa6O8kE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="game__info">
                <div class="game__logo">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#game-logo"></use>
                    </svg>
                </div>
                <div class="game__text">мобильная игра которая поможет развить фантазию и логическое мышление ребенка и улучшить коммуникацию между родителями и детьми.</div>
                <a class="game__btn" href="#">Скачать</a>
            </div>
        </div>
    </div>
</section>