<section class="our-values">
    <span class="cloud cloud-5 --svg__cloud-5"></span>
    <span class="cloud cloud-6 --svg__cloud-6"></span>
    <span class="cloud cloud-7 --svg__cloud-7"></span>
    <span class="cloud cloud-8 --svg__cloud-8"></span>
    <div class="container">
        <div class="our-values__title title">Наши ценности</div>
        <div class="our-values__wrapper flex --just-space">
            <div class="our-values__item">
                <div class="our-values__item-icon">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#book"></use>
                    </svg>
                </div>
                <div class="our-values__item-title">Развитие ребенка</div>
                <div class="our-values__item-text">игра поможет развить фантазию и логическое мышление ребенка</div>
            </div>
            <div class="our-values__item">
                <div class="our-values__item-icon">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#browser"></use>
                    </svg>
                </div>
                <div class="our-values__item-title">Дружелюбный интерфейс</div>
                <div class="our-values__item-text">простой и понятный интерфейс, в котором разберется любой ребенок
                </div>
            </div>
            <div class="our-values__item">
                <div class="our-values__item-icon">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#share"></use>
                    </svg>
                </div>
                <div class="our-values__item-title">Возможность поделиться своей сказкой</div>
                <div class="our-values__item-text">придуманными сказками вы можете поделиться с друзьями</div>
            </div>
            <div class="our-values__item">
                <div class="our-values__item-icon">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#edit"></use>
                    </svg>
                </div>
                <div class="our-values__item-title">Игровая механика</div>
                <div class="our-values__item-text">уникальная игровая механика, вносящая динамику и разнообразие в
                    процесс</div>
            </div>
            <div class="our-values__item">
                <div class="our-values__item-icon">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#picture"></use>
                    </svg>
                </div>
                <div class="our-values__item-title">Визуальное оформление</div>
                <div class="our-values__item-text">красочные захватывающие локации, на фоне которых можно сочинить
                    тематические сказки</div>
            </div>
            <div class="our-values__item">
                <div class="our-values__item-icon">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#favorite"></use>
                    </svg>
                </div>
                <div class="our-values__item-title">Уровни сложности игры</div>
                <div class="our-values__item-text">несколько уровней сложности, на каждом из котором будет возможность
                    сочинять уникальные разнообразные сказки</div>
            </div>
        </div>
    </div>
</section>