<section class="team">
    <div class="container">
        <div class="team__title title">Команда</div>
        <div class="team__wrapper flex --just-space">
            <div class="team__row">
                <div class="team__item">
                    <div class="team__item-title">
                        <span class="team__item-name">Product Manager</span>
                        <span>Телеграмм</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Илья Севериненко</span>
                        <span class="team__item-link"><a href="#">@ilya_Sever</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Сергей Патин</span>
                        <span class="team__item-link"><a href="#">@sp0824</a></span>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item-title">
                        <span>Product Manager</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Мария Устинова</span>
                        <span class="team__item-link"><a href="#">@Deydra35</a></span>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item-title">
                        <span>Uх/Ui дизайнер</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Ирина Касевич</span>
                        <span class="team__item-link"><a href="#">@ira_k_ira</a></span>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item-title">
                        <span>SEO специалист</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Кирилл Павлов</span>
                        <span class="team__item-link"><a href="#">@PavlovKirill</a></span>
                    </div>
                </div>
            </div>
            <div class="team__row">
                <div class="team__item">
                    <div class="team__item-title">
                        <span class="team__item-name">Frontend</span>
                        <span>Телеграмм</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Виталий Дорофеев</span>
                        <span class="team__item-link"><a href="#">@ten_bucks</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Екатерина Жаркова</span>
                        <span class="team__item-link"><a href="#">@Key_Ke</a></span>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item-title">
                        <span class="team__item-name">Backend</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Юрий Батюк</span>
                        <span class="team__item-link"><a href="#">@bagumg</a></span>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item-title">
                        <span class="team__item-name">Android developer</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Егор Леонов</span>
                        <span class="team__item-link"><a href="#">@leonov_egor</a></span>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item-title">
                        <span class="team__item-name">Digital-маркетолог</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Ким Власов</span>
                        <span class="team__item-link"><a href="#">@Kim1305</a></span>
                    </div>
                </div>

            </div>
            <div class="team__row">
                <div class="team__item">
                    <div class="team__item-title">
                        <span class="team__item-name">Иллюстраторы</span>
                        <span>Телеграмм</span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Влада Бережная</span>
                        <span class="team__item-link"><a href="#">@Vlashine</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Юлия Оникий</span>
                        <span class="team__item-link"><a href="#">@OnikiyJulia</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Ольга Восканян</span>
                        <span class="team__item-link"><a href="#">@olgavaskanian</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Ольга Мусинова</span>
                        <span class="team__item-link"><a href="#">@OlgaMusss</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Валерия Первухина</span>
                        <span class="team__item-link"><a href="#">@trulalaa</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Яна Короткова</span>
                        <span class="team__item-link"><a href="#">@ohoxfordme</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Людмила Лапикина</span>
                        <span class="team__item-link"><a href="#">@Ludmilapics</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Инна Петрусевич</span>
                        <span class="team__item-link"><a href="#">@intuinna</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Станислав Голушков</span>
                        <span class="team__item-link"><a href="#">@felixfelicis92</a></span>
                    </div>
                    <div class="team__item-info">
                        <span class="team__item-name">Виктория Козлова</span>
                        <span class="team__item-link"><a href="#">@Vikulja_and_ko0522</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>