.fantasy {
    overflow-x: hidden;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 4rem;
    background: linear-gradient(180deg, #4F649E 0%, #4F649E 100%);

    /* .fantasy__title */

    &__title {
        margin-bottom: 4rem;
    }

    /* .fantasy__wrapper */

    &__wrapper {
        flex-wrap: wrap;
        gap: 6rem;
    }

    /* .fantasy__item */

    &__item {
        width: 100%;
        max-width: 54rem;
        font-size: 2.4rem;
        line-height: 4.5rem;
    }

    .cloud-1 {
        width: 40vw;
        height: 13.6rem;
        top: 0;
        left: 0;
    }
    .cloud-2 {
        width: 72.5rem;
        height: 30.7rem;
        top: 10rem;
        right: 0;
        transform: translateX(50%);

    }
    .cloud-3 {
        width: 72.9rem;
        height: 35.7rem;
        bottom: 0;
        left: 0;

    }
    .cloud-4 {
        width: 70rem;
        height: 27rem;
        bottom: 0;
        right: 0;
        transform: translateX(50%);
    }
}